<!DOCTYPE html>
<html>
    <head>
        <title>SQL NO injection</title>
    </head>
    <body>
        <div style="display: flex; align-items:baseline; ">
            <a href="/">Nazad</a>
            <h1 style="margin-left: 100px;">SQL NO Injection</h1>
        </div>

        <p>Potrebno je unijeti username kako bi dobili podatke o korisniku.
            Za tautologiju: pperic' OR '1' = '1 Za ilegalne upite: pperic' ORDER BY 1-- 
        </p>
        <form action="/sqlonemogucenaranjivost" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="pperic">
            <input type="submit" value="Submit">
        </form>

        <h3>Podaci:</h3>
        <hr/>
        <% if (podaci) { %>
            <% if (podaci.length > 0) { %>
                <% for (let i in podaci) { %>
                    <p>- <%= podaci[i].first_name %> <%= podaci[i].last_name %></p>
                <% } %>
            <% } %>
        <% }else {%>
            <p>Nije dohvaćeno ništa</p>
        <% } %>
    </body>
</html>